/*CCZambia*/
@font-face {
   font-family: OpenSans-Bold;
   src: url(../fonts/OpenSans-Semibold.ttf);
}

@font-face {
   font-family: OpenSans-Light;
   src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
   font-family: Lato-Light;
   src: url(../fonts/Lato-Light.ttf);
}

@font-face {
   font-family: Lato-Regular;
   src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
   font-family: Lato-Bold;
   src: url(../fonts/Lato-Bold.ttf);
   font-weight: bold;
}

@font-face {
   font-family: Recoba;
   src: url(../fonts/Recoba.otf);
}

@font-face {
   font-family: Violina-Regular;
   src: url(../fonts/Violina-Regular.otf);
}

@font-face {
   font-family: VIPRoman-Regular;
   src: url(../fonts/VIPRoman-Regular.otf);
}

@font-face {
   font-family: RobotoCondensed-Bold;
   src: url(../fonts/RobotoCondensed-Bold.ttf);
}

@font-face {
   font-family: RobotoCondensed-Regular;
   src: url(../fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
   font-family: Goldoni_DEMO;
   src: url(../fonts/Goldoni_DEMO.otf);
}

@font-face {
   font-family: aclonica;
   src: url(../fonts/aclonica.ttf);
}

@font-face {
   font-family: Raleway-Medium;
   src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
   font-family: Raleway-Thin;
   src: url(../fonts/Raleway-Thin.ttf);
}

@font-face {
   font-family: Raleway-Light;
   src: url(../fonts/Raleway-Light.ttf);
}

@font-face {
   font-family: PlayfairDisplay-Regular;
   src: url(../fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
   font-family: BodoniFLF-Bold;
   src: url(../fonts/BodoniFLF-Bold.ttf);
}


@font-face {
   font-family: TheanoDiot-Regular;
   src: url(../fonts/TheanoDiot-Regular.ttf);
}


html, body {
  width: 100%;
  overflow-x: hidden;
  font-family: OpenSans-Light, Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0;
  }

/*Navigation bar*/

 div.main_nav_wrapper {
  background-color: #555555;
  background-image: url(../img/ai.jpg);
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
 }

 div.main_nav_bg {
  background-color: rgba(0,0,0,0.7);
  padding: 10px;
 }

 li#logo a {
  margin-right: 200px;
  margin-left: 30px;
  font-size: 24px;
  color: #00cc23;
  font-family: Raleway-Medium;
}

 nav.main_nav {
  padding: 10px;
 }

 nav.main_nav ul {
  padding: 5px;
 }

 nav.main_nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  text-align: center;
}

nav.main_nav ul li a {
  text-decoration: none;
  color: #f1f1f1;
  padding: 5px;
  font-weight: 600;
  font-family: sans-serif;
}

nav.main_nav ul li:hover a {
  border-bottom: 2px solid #555555;
}

ul div.social_links li {
  float: right;
  position: relative;
  width: 3%;
  right: 1%;
  margin-top: -40px;
}

ul div.social_links li:hover a{
  border-bottom: 2px solid #555555;
}

/*######## Description #######*/

.description {
  padding: 40px;
  width: 40%;
}

.description h1 {
  color: #dddddd;
  font-family: Raleway-Medium;
}

.description a {
  text-decoration: none;
  color: #cccccc;
  border: 2px solid #777777;
  padding: 10px 20px;
}

.description a:hover {
  background-color: #00cc23;
  color: #eeeeee;
  border: 2px solid #00cc20;
  transition: all .5s ease;
}

.description p {
  font-size: 16px;
  color: #cccccc;
  opacity: 0.8;
}

/*##### End Navigation Bar #####*/

/*###### Contact #######*/
.contact_head {
  text-align: center;
  padding: 20px;
  background-color: #989898;
}

/*########## Get work done #######*/
.get_done_form_wrapper {
  background-image: url(../img/annie.jpg);
  background-size: 100%;
  background-attachment: fixed;
}

.get_done_form_bg {
  background-color: rgba(0,90,255,0.09555);
  /*padding: 20px;*/
}

.contact_head {
  background-color: rgba(0,0,0,0.399555);
  padding: 40px;
  color: #333333;
  text-align: center;
}

.contact_head h1 {
  color: #dddddd;
  font-size: 32px;
}

.contact_head p {
  color: #222222;
  font-size: 20px;
}

.contact_head i {
  position: relative;
  left: 35%;
  float: left;
  font-size: 74px;
  border-radius: 100px;
  background-color: rgba(0,90,125,0.3555); 
  padding: 20px;
}

.get_done_form {
  padding: 20px;
  background-color: rgba(155,0,155,0.5);
  border-radius: 0px 0px 0px 1000px;
}

.get_done_form form {
  padding: 10px;
}

.get_done_form form label {
  font-weight: 600;
  padding-left: 20px;
  color: #005099;
}

.get_done_form form i {
  color: #dddddd;
  position: relative;
  padding: 11px;
  border-radius: 100px;
  background-color: rgba(0,90,125,0.3555); 
  z-index: 1;
}

.get_done_form form input[type=text] {
  width: 30%;
  padding: 10px;
  border-radius: 2px;
  font-size: 16px;
  font-family: sans-serif;
  border: 1px solid #dddddd;
  opacity: 0.8;
}

.get_done_form form input[type=text]#Email {
  width: 62%;
}

.get_done_form form textarea {
  width: 62%;
  padding: 20px;
  border-radius: 2px;
  font-size: 16px;
  font-family: sans-serif;
  border: 1px solid #dddddd;
  opacity: 0.8;
}

.get_done_form form input[type=text]:focus, .get_done_form form textarea:focus {
  border: 1px solid #ff0000;
}

.get_done_form form input[type=submit] {
  width: 62%;
  background-color: #0000ff;
  border: 1px solid #0000ff;
  cursor: pointer;
  color: #ffffff;
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
}

.get_done_form form input[type=submit]:hover {
  opacity: 0.8;
}


/*####### Communities ######*/
.community_head {
   padding: 20px;
   background-color: #000000;
   text-align: center;
   color: #ff8200;
}

.community_head h1 {
  font-size: 32px;
}

.community_head p {
  font-size: 20px;
}

.community_container {
 background-color: #ffffff;
 padding: 10px;
}

.community_content {
 padding: 10px;
}

.community_content p {
  font-size: 24px;
  padding: 10px 1px;
}

.community_content img {
  width: 100%;
}


/*############# Footer #########*/
.footer-container {
  background-color: rgba(0,0,0,0.9);
  color: #989898;
}

.footer_content {
  padding: 20px;
}

.footer-container p#footer_title {
  font-family: Verdana;
  color: #ff8200;
  font-size: 24px;
  padding: 20px;
  border-bottom: 1px solid #555555;
}

.footer-container h2 {
  color: #eeeeee;
  font-family: Arial;
}

.footer-container i {
  padding: 5px;
}

.footer-container a {
  text-decoration: none;
  color: #888888;
}

.footer-container a:hover {
  color: #ff8200;
}

.footer_form form input[type=text]{
   width: 60%;
   padding: 10px;
   border: 1px solid #989898;
   border-radius: 3px 0px 0px 3px;
   font-family: Arial;
   font-size: 16px;
}

.footer_form form input[type=submit] {
  padding: 9px 11px 12px 11px;
  margin-left: -5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: #ff8200;
  color: #f2f2f2;
}

.footer_form form input[type=submit]:hover {
  opacity: 0.8;
}

.footer_form form input[type=text]:focus {
  border: 1px solid #cc0055;
}

.footer_copy {
  background-color: rgba(0,0,0,0.377777);
  padding: 20px;
  text-align: center;
  font-size: 13px;
}
